body{
  background-color: rgb(36, 36, 36);
  background-image: url(../img.jpg);
  background-size:cover
}
.box{
  position: relative;
  top:-20px;
}
.TodoList{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: rgb(0, 0, 0);
}
button{
  font-size: 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
   background-color: hsl(63, 54%, 49%);
}
.add-button:hover{
  background-color: hsl(63, 54%, 39%);
}
.delete-button{
  background-color: hsl(234, 43%, 51%);
}
.delete-button:hover{
  background-color: hsl(234, 43%, 41%);
}
.move-button{
  background-color: hsl(0, 81%, 48%);
}
.move-button:hover{
  background-color: hsl(0, 81%, 38%);
}
input[type="text"]{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  border: 2px solid rgb(136, 130, 130);
  border-radius: 5px;
  color: rgb(60, 59, 59);  
}
input[type="checkbox"]{
  position: relative;
  width: 40px;
  height: 40px;
}
ol{
  padding: 0;
}
li{
   font-size:1.8rem;
   padding: 15px;
   background-color: rgb(234, 233, 241);
   margin-top: 10px;
   border: 3px solid black;
   border-radius: 5px;
   display: flex;
   align-items: center;
}
.text{
  flex:1;
}
.desc{
  flex:1;
}
.delete-button,.move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 8px;
}